@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');
:root{
    --blue:#3498DB;
    --white:#fff;
    --light-color:#777;
    --bg-color:#031c30;
    --border:.1rem solid rgba(235, 38, 38, 0.2);
    --box-shadow:.4rem .4rem 1rem #ccc,
                -.4rem -.4rem 1rem #fff;
    --box-shadow-inset:.4rem .4rem 1rem #ccc inset,
          -.4rem -.4rem 1rem #fff inset;            

}
img{
    width: 60rem;
}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    outline: none;
    border: none;
    text-decoration: none;
    list-style: none;
    text-transform: capitalize;
    transition: .2s linear;

    
}
html{
    font-size: 62.5%;
    /* overflow: hidden; */
    scroll-behavior: smooth;
}
section{
    min-height: 100vh;
    padding: 2rem;
}
body{
    background: var(--bg-color);
    padding-top: 2rem;
    padding-bottom: 5rem;
    padding-right: 3rem; 
    color:var(--white);
    

}
.dashbord{
    padding-left: 3rem;
    background-color: #031c30;
    width: 25rem;
    margin-left: 5rem;
    height: 70rem;
    position: fixed;
    border-right: #fff solid;
    position: fixed;
    
}
.side-nav{
    margin-right: 2rem;
    margin-top: 5rem;
}
.a{
    display: block;
    margin: 3rem 0;
    padding:1rem 1rem;
    border-radius:5rem;
    font-size: 1.5rem;
    background-color: #fff;
    color: #3498DB;
    text-align: center;
    

}
.delete-button{
background-color: red;
width: 5rem;
float: right;
font-size: 1rem;

}
.update-button{
    background-color: #3498DB;
    width: 5rem;
    font-size: 1rem;
}
a{
    text-decoration: none;
    color: #fff;
}
.side-nav button{
    margin: 3rem 0;
    margin-left: 5rem;
    padding:1rem;
    width: 15rem;
    border-radius:5rem;
    font-size: 1.5rem;
    background-color: #3498DB;
    color:#fff ;
    text-align: center;
}
.main-dashbord{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.search-field input{
    margin-right: 50rem;
    border-radius: 3rem;
    padding: 1rem;
    width: 20rem;
}
.dashbord-cards {
    background-color: #fff;
    color: #10162A;
    display: flex;
    padding: 2rem;
    margin: 2rem;
    
}
.blog-content{
    width: 80rem;
    padding: 2rem;
    background-color: rgba(53, 54, 95, 0.3) ;
    margin-left: 16rem;
    text-align: left;
    border-radius: 1rem;
    margin-top: 1.3rem;
    
  }
.container {
    padding: 20px 25px;
    margin-left: 10rem;
  }
  .content-card{
    display: flex;
    gap: 20px;
}
.card{
    background-color: #fff;
    border-radius: 10px;
    color:#10162A;
    width:177px;
    height:100px;
    gap: 10px;
    display: flex;
    align-items: center;
    padding:0px 35px ;
    margin: 45px 0px;
    
}



.icon-card{
    font-size: 30px;
    background: #3E9CDC;
    color: var(--text-white);
    padding: 10px;
    border-radius: 10px;
  
    
}
.card-span{
    font-weight: 900;
   
    font-size: 20px;
}
.sub-tilte{
font-size: 20px;

}
.icon {
    font-size: 20px;
    padding: 10px 15px;
  }
.content-card{
    display: flex;
    gap: 20px;
    margin-left: 15rem;
}
.container-blog{
    background: #fff;
    color: #10162A;
    border-radius: 0.5rem;
    margin-top: 10rem;
margin-left: 5rem;

}.blog-list{
    background: #fff;
    margin-left: 15rem;
    color: #10162A;
    border-radius: 0.5rem;
}
h6{
    font-size: 2rem;
    padding: 2rem;
    
}
table{
    width: 70rem;
    height: 30rem;
    border-collapse: collapse;
    border-radius: 5px 5px 0 0;
    padding-left: 5rem;
    overflow: hidden;

    color: #10162A;
    
    

}
table thead tr{
    text-align: left;

}
table th , table td{
    padding: 12px 15px;
}
thead{
    font-size: 2.5vmin;
    font-weight: bold;
}
.add-blog{
    background-color: rgba(53, 54, 95, 0.3) ;
    width: 60rem;
    padding: 1rem;
    justify-content: center;
    /* margin-left: 5rem; */
}
.add-blog input{
width: 40rem;
background-color: rgba(53, 54, 95, 0.3) ;
border: solid 0.8px #3498DB;
padding: 1rem;
border-radius: 1rem;
margin-bottom: 2rem;
color: #fff;
}
textarea{
    background-color: rgba(53, 54, 95, 0.3) ;
    width: 40rem;
    border: solid 0.8px #3498DB;
    border-radius: 1rem;
    padding: 1rem;
    color: #fff;


}
.blog-added{
    background: #3498DB;
}

.add-blog h2{
    padding-bottom: 3rem;

}
#menu-btn{
    position: fixed;
    top: 1.5rem;
    left: 2rem;  
    z-index: 1000;
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    border-radius: 50%;
    font-size: 2rem;
    cursor: pointer;
    box-shadow: var(--box-shadow);
    text-align: center;
    color: var(--black);
    display: none;



}
.add-blog label{
    padding-top: 2rem;
}
.edit-icon{
    background-color: #3498DB;
    width: 3rem;
    height: 2rem;
    color: #fff;
    font-size: 1.5rem;
    padding: 0.3rem;

}
.plus-button{
    background-color: #3498DB;
    color: #fff;
}
.delete-icon{
    background-color: #eb3c3c;
    width: 3rem;
    padding: 0.3rem;
    height: 2rem;
    color: #fff;
    font-size: 1.5rem;
}
@media(max-width:827){
    .dashbord{
        left: -50%;
    
        }
    .content-card{
    margin-left: 20rem;
    gap: 1rem;
    }
    .card{
        width: 23%;
        padding: 2rem;
    
    }
    .card-span{
    font-size: 2rem ;
    }
    .sub-tilte{
        font-size: 2rem;
    
    }
    .blog-list{
        margin-left: 20rem;
        width: 75%;
    }
    .container-blog{
        margin-left: 32rem;
        width: 65%;
    
        
    
    }
    .add-blog{
        margin-left: 32rem;
    
    }
}
@media(max-width:941px){
    .dashbord{
    left: -6%;

    }
.content-card{
margin-left: 20rem;
gap: 1rem;
}
.card{
    width: 23%;
    padding: 2rem;

}
.card-span{
font-size: 2rem ;
}
.sub-tilte{
    font-size: 2rem;

}
.blog-list{
    margin-left: 20rem;
    width: 75%;
}
.container-blog{
    margin-left: 32rem;
    width: 65%;

    

}
.add-blog{
    margin-left: 32rem;

}
}








@media (max-width:667px){
    html{
        font-size: 55%;
        /* overflow: hidden; */
    }
    body{
        padding-left: 0;
    }
    .dashbord{
        left: -100%;
        position: fixed;
        width: 50%;

    }
.content-card{
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
}
.card{
    width: 80%;
}
    .dashbord.active{
        left: 0%;
        transition: .3s linear;
        position:fixed;
    }
    table{
        width: 50%;
        height: 50%;
    }
  .blog-content{
    width: 100%;
    margin-right: 10rem;
  }
  
   
   
    #menu-btn{
        display: initial;
    }
}

